In [56]:
import numpy as np
import pandas as pd

In [60]:

#missing_values = ["Null", "?", "--","","FALSE",".","-","nan","False","R","r"]
pd_file2 = pd.read_csv('/Users/Lisa/Documents/BigData/homework2/gridresult.csv')

In [61]:
pd_file2.count()

Unnamed: 0     414661
caldt          414661
crsp_fundno    414660
mtna           412928
mret           413366
mnav           413428
Unnamed: 6         10
Unnamed: 7          8
Unnamed: 8          6
Unnamed: 9          6
Unnamed: 10         4
dtype: int64

In [21]:
pd_file.loc[:, ['crsp_fundno']].head()

   crsp_fundno
0          105
1          105
2          105
3          105
4          105

In [22]:
funds = np.unique(pd_file.loc[:, ['crsp_fundno']])

In [49]:
single_unique = []
double_unique = []

crsp_list = list(pd_file['crsp_fundno'])
my_len = len(crsp_list)
for i in range(0,my_len):
    if crsp_list[i] not in single_unique:
        single_unique.append(crsp_list[i])
    elif crsp_list[i] not in double_unique:
        double_unique.append(crsp_list[i])

In [51]:
len(double_unique)

47520

In [48]:
for f in funds:
    temp = pd_file[pd_file['crsp_fundno']==f] 
    if len(temp)>1:
        temp2 = pd_file[pd_file['crsp_fundno']==f].interpolate()
        pd_file[pd_file['crsp_fundno']==f] = temp2

KeyboardInterrupt:

            caldt  crsp_fundno       mtna      mret       mnav
0        20100129          105  25.300000 -0.054960   7.050000
1        20100226          105 -99.000000  0.035461   7.450000
2        20100331          105 -57.466667  0.075342   7.850000
3        20100430          105 -15.933333  0.022930   8.030000
4        20100528          105  25.600000 -0.079701   7.390000
5        20100630          105  25.100000 -0.048714   7.343333
6        20100730          105  24.600000  0.078236   7.296667
7        20100831          105  24.100000 -0.043536   7.250000
8        20100930          105  26.700000 -0.001322   8.070000
9        20101029          105 -99.000000  0.040892   8.400000
10       20101130          105 -99.000000  0.008333   8.470000
11       20101231          105  28.300000  0.069658   9.060000
12       20110131          105  28.400000  0.005519   9.186667
13       20110228          105  28.300000  0.017563   9.313333
14       20110331          105  28.850000  0.018339   9.440000
15       20110429          105  29.400000 -0.001066   9.770000
16       20110531          105  28.300000 -0.020471   9.570000
17       20110630          105  27.900000 -0.008359   9.240000
18       20110729          105  25.950000 -0.030558   8.910000
19       20110831          105  24.000000 -0.067391   8.580000
20       20110930          105  20.000000 -0.110723   8.600000
21       20111031          105  22.500000  0.129751   8.620000
22       20111130          105  22.000000 -0.009281   8.795000
23       20111230          105  21.600000 -0.005855   8.970000
24       20120131          105  22.650000  0.015426   9.145000
25       20120229          105  23.700000  0.036707   9.320000
26       20120330          105  24.200000  0.027897   9.580000
27       20120430          105  24.100000  0.000000   9.580000
28       20120531          105  21.800000 -0.080376   8.810000
29       20120629          105  22.000000  0.020431   8.990000
...           ...          ...        ...       ...        ...
3227463  20180928        94223   3.400000       NaN  18.660000
3227464  20180928        94224   0.200000       NaN  10.740000
3227465  20180928        94225        NaN       NaN  10.470000
3227466  20180928        94226   5.600000       NaN  10.640000
3227467  20180928        94227  11.400000       NaN        NaN
3227468  20180928        94228   1.900000       NaN  11.220000
3227469  20180928        94229   0.100000       NaN   9.960000
3227470  20180928        94230   6.200000       NaN        NaN
3227471  20180928        94231   3.100000       NaN  10.230000
3227472  20180928        94232  22.900000       NaN  11.590000
3227473  20180928        94233   1.000000       NaN  10.400000
3227474  20180928        94234        NaN       NaN  11.510000
3227475  20180928        94235        NaN       NaN   1.840000
3227476  20180928        94236  12.600000       NaN   9.920000
3227477  20180928        94237        NaN       NaN  10.640000
3227478  20180928        94238   0.100000       NaN  10.800000
3227479  20180928        94239   0.500000       NaN  10.700000
3227480  20180928        94240   0.300000       NaN        NaN
3227481  20180928        94241   0.900000       NaN  11.130000
3227482  20180928        94242   1.500000       NaN  11.910000
3227483  20180928        94243        NaN       NaN  11.370000
3227484  20180928        94244        NaN       NaN  11.070000
3227485  20180928        94245   2.800000       NaN  10.710000
3227486  20180928        94246   1.000000       NaN  11.220000
3227487  20180928        94247   0.900000       NaN        NaN
3227488  20180928        94248   1.400000       NaN  11.250000
3227489  20180928        94249   1.700000       NaN   9.700000
3227490  20180928        94250   0.300000       NaN  10.700000
3227491  20180928        94251   2.400000       NaN  10.830000
3227492  20180928        94252   0.100000       NaN  26.040000

[3227493 rows x 5 columns]